<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Produit en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>

    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Contrat</th> <th>Equipe</th> </tr>
    <tbody *ngFor="let jouer of jouers">
    <tr >
    <td>{{jouer.idJouer}}</td>
    <td>{{jouer.nomJouer}}</td>
    <td>{{jouer.prixJouer}}</td>
    <td>{{jouer.dateContrat | date:'dd/MM/yyyy'}}</td>
    <td>{{jouer.equipe?.nomEquipe}}</td>
   <!--  <td><a class="btn btn-success" [routerLink]="['/updateJouer',jouer.idJouer]">Modifier</a></td>
    <td><a class="btn btn-danger" (click)="supprimerJouer(jouer)">Supprimer</a></td> -->

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>