<div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-equipe 
    [equipe]="updatedEq" 
    (equipeUpdated)="equipeUpdated($event)"
    [ajout]="ajout">
    
    </app-update-equipe>
    </div>
<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom equipe</th> </tr>
    </thead>
    <tbody *ngFor="let eq of equipes">
    <tr>
    <td>{{eq.idEquipe}}</td>
    <td>{{eq.nomEquipe}}</td>
    <td><a class="btn btn-success" (click)="updateEq(eq)">Editer</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>